
.cart__steps {
    margin: auto;
    width: 100%;
}

.cart__alert {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  position: relative;

  background: var(--background);
  border-left: 4px solid var(--destructive);
  padding: 1rem 1.25rem;
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  margin-bottom: 2rem;
}

.cart__alert::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 103%;
    background: var(--destructive);
    left: 0;
    top: -1px;
    border-radius: var(--radius-sm);
}

.cart__alert p {
  margin: 0;
  font-size: 0.8rem;
  color: var(--muted-foreground);
}

.cart__container {
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 2rem;
}

.cart__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__section-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart__right {
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart__back-button {
  width: 100%;
}

.cart__empty {
    width: 100%;
    justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
  gap: 0.5rem;
}

.cart__empty p {
  color: var(--muted-foreground);
}

.cart__empty__button {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  display: flex;
}

.cart__empty__title {
  font-size: 1.5rem;
  font-weight: 700;
}
