.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    180deg,
    oklch(0.95 0.02 142.5) 0%,
    oklch(0.97 0.01 142.5) 40%,
    oklch(0.92 0.02 142.5) 100%
  );

  padding: 1rem;
}

.login__card {
  width: 100%;
  max-width: 500px;

  padding: 2.5rem 2rem;
  background: var(--card);
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.login__card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__card__header__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.login__card__header__logo-circle {
    cursor: pointer;
  width: 64px;
  height: 64px;
  background: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__card__header__logo-img {
    color: var(--primary-foreground)
}

.login__card__header__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--foreground);
}

.login__card__header__subtitle {
  font-size: 0.95rem;
  color: var(--muted-foreground);
  margin-bottom: 1.5rem;
}

.login__card__forgot-password {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}


.login__card__forgot-password  > a {
    color: var(--ring);
    text-decoration: underline;
    transition: ease-in-out 150ms;
}


.login__card__forgot-password  > a:hover {
    opacity: 0.9;
}

.login__card__button-group {
gap: 0.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.login__card__button {
  width: 100%;
}

.login__card__divider {
  margin: 0.75rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: var(--muted-foreground);
  position: relative;
}

.login__card__divider::before,
.login__card__divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 35%;
  height: 1px;
  background: var(--border);
}

.login__card__divider::before {
  left: 0;
}

.login__card__divider::after {
  right: 0;
}

.login__footer {
  margin-top: 2rem;
  color: var(--muted-foreground);
  font-size: 0.9rem;
}
