<div class="input-password">

  @if (label) {
    <label class="input-password__label">{{ label }}</label>
  }

  <div class="input-password__control">

    <input
      class="input-password__control__input"
      [type]="show ? 'text' : 'password'"
      [placeholder]="placeholder"
      [value]="model"
      (input)="update($event.target.value)"
      [class.input-password__control__input--error]="error"
    />
    <app-button [icon]="show ? 'eyeOff' : 'eye'" iconSize="18" variant="ghost" size="square-small" class="input-password__control__toggle" (clicked)="toggle()">
    </app-button>
  </div>

  @if (error) {
    <p class="input-password__error">{{ error }}</p>
  } @else if (description) {
    <p class="input-password__description">{{ description }}</p>
  }

</div>
