.admin-layout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background);
}

.admin-layout__content {
    flex: 1;
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    overflow-y: auto;
}