<div class="products-page__content">

    <header class="products-page__header">
        <h1 class="products-page__header-title">Placas de Vídeo</h1>
        <p class="products-page__header-subtitle">
            Encontre a placa de vídeo perfeita para suas necessidades
        </p>
    </header>

    <div class="products-page__search">
        <app-search-filter (searchSubmit)="onSearch($event)"
            placeholderText="Buscar por nome, marca ou especificações..." />
    </div>
    <div class="products-page__body">
        <aside class="products-page__body__filters">
            <app-products-filters></app-products-filters>
        </aside>
        <app-products-list class="products-page__body__list" [items]="dataGpus" [isLoading]="isLoading"
            [error]="isError" [totalItems]="totalItems" [currentPage]="currentPage" [totalPages]="totalPages"
            [limit]="limit" [pageChange]="onPageChange.bind(this)"></app-products-list>
    </div>

</div>