

.products-page__content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.products-page__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.products-page__header-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--foreground);
}

.products-page__header-subtitle {
  color: var(--muted-foreground);
}

.products-page__body {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.products-page__body__list {
  flex: 1;
  width: 100%;
}