<div class="search-filter" [class.search-filter--compact]="variant === 'compact'">

  <div class="search-filter__input-container">
    <div class="search-filter__input-container__icon">
      <app-lucide-icon icon="search"></app-lucide-icon>
    </div>

    <input type="text" [placeholder]="placeholderText" class="search-filter__input-container__input"
      [(ngModel)]="currentSearchText" (ngModelChange)="emitSearchText()" (keyup.enter)="emitSearchClicked()"/>

    @if (currentSearchText) {
    <app-button (clicked)="clearSearch()" class="search-filter__input-container__clear-button" variant="ghost" size="square" icon="x" />
    }
  </div>

  @if (showSubmitButton) {
  <app-button class="search-filter__submit-button" variant="primary" size="square" icon="Search"
    (clicked)="emitSearchClicked()" />
  }
</div>