<div class="search-filter">

  <div class="search-filter__input-container">
    <div class="search-filter__input-container__icon">
      <lucide-icon [img]="searchIcon" size="20" class="search-filter__input-container__icon__lucide"></lucide-icon>
    </div>


    <input type="text" placeholder="Buscar por nome, marca ou especificações..." class="search-filter__input-container__input"
      [(ngModel)]="currentSearchText" (ngModelChange)="emitSearchText()" (keyup.enter)="emitSearchClicked()"/>

    @if (currentSearchText) {
    <app-button (click)="clearSearch()" class="search-filter__input-container__clear-button" variant="ghost" size="square" icon="x" />
    }
  </div>

  <app-button class="search-filter__submit-button" variant="primary" size="square" icon="Search"
    (click)="emitSearchClicked()" />
</div>