
.search-filter {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.search-filter__input-container {
    position: relative;
    width: 100%;
}

.search-filter__input-container__icon {
    position: absolute;
    left: 0.75rem;
    
    top: 50%;
    transform: translateY(-50%);
    color: var(--muted-foreground);
    
    pointer-events: none;
}

.search-filter__input-container__icon__lucide {
    width: 20px !important;
    height: 20px !important;
    stroke-width: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-filter__input-container__input {
    width: 100%;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: var(--radius-lg);
    color: var(--foreground);
    font-size: 1rem;
    line-height: 1.5rem;

    transition:
        border-color 150ms ease-in-out,
        box-shadow 150ms ease-in-out;
}

.search-filter__input-container__input::placeholder {
    color: var(--muted-foreground);
}

.search-filter__input-container__input:focus {
    outline: none;
    box-shadow: 0 0 0 1px oklch(0.48 0.13 142.5 / 0.5);
    border-color: oklch(0.48 0.13 142.5 / 0.5);
}

.search-filter__input-container__clear-button {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--muted-foreground);
    transition: color 150ms ease-in-out;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-filter__input-container__clear-button:hover {
    color: var(--foreground);
}