<div class="pagination">

  <app-button 
    [disabled]="currentPage === 1" 
    variant="outline" 
    size="small" 
    (click)="prevPage()"
  >
    Anterior
  </app-button>

  <div class="pagination__list">

    @for (page of visiblePages; track page) {

      @if (page === -1) {
        <span class="pagination__list__dots">…</span>
      } @else {
        <app-button
          [variant]="currentPage === page ? 'primary' : 'outline'"
          size="square"
          (click)="goToPage(page)"
        >
          {{ page }}
        </app-button>
      }

    }

  </div>

  <app-button 
    [disabled]="currentPage === totalPages" 
    variant="outline" 
    size="small" 
    (click)="nextPage()"
  >
    Próxima
  </app-button>

</div>
