.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.pagination__list {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.pagination__list__dots {
  padding: 0 0.75rem;
  color: var(--muted-foreground);
  font-weight: 600;
}
