<div class="file-input">

  @if (label) {
  <label class="file-input__label">{{ label }}</label>
  }
  @if (error) {
  <p class="file-input__error">{{ error }}</p>
  } @else if (description) {
  <p class="file-input__description">{{ description }}</p>
  }


  <label class="file-input__control" [class.file-input__control--disabled]="disabled"
    [class.file-input__control--error]="error">
    <input #fileInputElement type="file" [accept]="accept" [multiple]="multiple" [disabled]="disabled" class="file-input__control__native"
      (change)="onFileChange($event)" />

    <span class="file-input__control__placeholder">
      Clique para selecionar {{ multiple ? 'arquivos' : 'um arquivo' }}
    </span>

    <app-lucide-icon icon="upload" size="18"></app-lucide-icon>
  </label>

  @if (model.length > 0) {
  <div class="file-input__control__files">

    @for (file of model; track file.name) {
    <app-file-item [item]="file" [isLocal]="true" [showPreview]="preview" (remove)="removeFile($event)"></app-file-item>
    }
  </div>
  }
</div>