<app-dialog
  [open]="open"
  [title]="title"
  [subtitle]="subtitle"
  (closed)="onCancel()"
  width="520px"
>
  <form class="form-dialog__form" (ngSubmit)="onSubmit()">

    <div class="form-dialog__form__body">
      <ng-content></ng-content>
    </div>

    <div class="form-dialog__form__footer">
      <app-button
        variant="outline"
        size="large"
        (clicked)="onCancel()"
        type="button"
      >{{ cancelText }}</app-button>

      <app-button
        variant="primary"
        size="large"
        type="button"
        (clicked)="onSubmit()"
      >{{ submitText }}</app-button>
    </div>

  </form>
</app-dialog>
