.form-dialog__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-dialog__form__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-dialog__form__footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
