<div class="sidebar" [class.sidebar--collapsed]="isCollapsed()">
  <div class="sidebar__header">
    <div>
      <span class="sidebar__header__brand">GPU Store</span>
      <span class="sidebar__header__version">Painel Administrativo</span>
    </div>
    <app-button
      class="sidebar__header__toggle"
      variant="ghost"
      size="none"
      (clicked)="toggleSidebar()"
      icon="{{ isCollapsed() ? 'ChevronRight' : 'ChevronLeft' }}"
    />
    
  </div>

  <nav class="sidebar__nav">
    @for (item of sidebarItems; track item.route) {
    <a routerLink="{{ item.route }}" routerLinkActive="active" class="sidebar__nav__item" [class.sidebar__nav__item--active]="isSelected(item.route)">
      <app-lucide-icon [icon]="item.icon" class="sidebar__nav__item-icon sidebar-icon"></app-lucide-icon>
      <span class="sidebar__nav__item-label">{{ item.label }}</span>
    </a>
    }
  </nav>

  <div class="sidebar__footer">
    <a class="sidebar__footer__item sidebar__nav__item" (click)="logout()">
      <lucide-icon
        [img]="icons.LogOut"
        class="sidebar__footer__item-icon sidebar__nav__item-icon sidebar-icon"
      ></lucide-icon>
      <span class="sidebar__footer__item-label sidebar__nav__item-label">Sair</span>
    </a>
  </div>
</div>
