.topbar {
  width: 100%;
  height: 4.5rem;
  background: var(--card);
  border-bottom: 1px solid var(--border);

  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  gap: 2rem;

  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar__content {
  max-width: 90rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.topbar__brand__logo-circle {
  width: 36px;
  height: 36px;
  background: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar__brand__logo-img {
    color: var(--primary-foreground)
}

.topbar__brand__name {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--foreground);
}

.topbar__search {
  flex: 1;
  max-width: 600px;
}

.topbar__actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.topbar__actions__cart {
  position: relative;
}

.topbar__actions__cart-badge {
  position: absolute;
  top: -4px;
  right: -4px;

  background: var(--primary);
  color: var(--primary-foreground);

  border-radius: 50%;
  font-size: 0.65rem;
  font-weight: 600;

  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.topbar__actions__profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.topbar__actions__profile__avatar {
  width: 40px;
  height: 40px;
  background: var(--accent);
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topbar__actions__profile__name {
  font-size: 0.9rem;
  color: var(--foreground);
  font-weight: 500;
}

.topbar__actions__profile__login {
  display: flex;
  align-items: center;
  gap: 0.35rem;

  padding: 0.5rem 0.8rem;
  border: 1px solid var(--border);
  background: var(--card);
  border-radius: var(--radius-md);

  cursor: pointer;
  font-size: 0.9rem;
  color: var(--foreground);
  transition: background 150ms;
}

.topbar__actions__profile__login:hover {
  background: var(--accent);
}

@media (max-width: 768px) {
  .topbar__brand__name {
    display: none;
  }

  .topbar__search {
    max-width: none;
  }

  .topbar {
    gap: 1rem;
  }
}
