<app-form-dialog
  [open]="open"
  [title]="address ? 'Editar Endereço' : 'Novo Endereço'"
  cancelText="Cancelar"
  submitText="Salvar"
  (closed)="close.emit()"
  (submitted)="submit()">

  <app-container-div direction="column" gap="1rem">

    <app-input-text label="Rua *" placeholder="Nome da rua" [(model)]="form.street"></app-input-text>

    <div class="address__grid">
      <app-input-text label="Cidade *" placeholder="São Paulo" [(model)]="form.city"></app-input-text>
      <app-input-text label="Estado *" placeholder="SP" [(model)]="form.state"></app-input-text>
    </div>

    <app-input-mask
      label="CEP *"
      placeholder="00000-000"
      mask="99999-999"
      [onlyNumbers]="true"
      [maxDigits]="8"
      [(model)]="form.zipCode">
    </app-input-mask>

    <app-input-text 
      label="País *"
      placeholder="Brasil"
      [(model)]="form.country">
    </app-input-text>

  </app-container-div>
</app-form-dialog>
